# Environment variables
.env
.DS_Store

# Backend files
backend/target/
backend/.vscode/
backend/.idea/
backend/*.iml
backend/*.class

# Frontend files
frontend/package-lock.json
frontend/node_modules/
frontend/dist/
frontend/.angular/
